@media (max-width: 600px) {
    .header-preview-wrapper{
        width: 100vw;
        height: 120vh;
        overflow-x: hidden;
    }



    body{
        overflow-x: hidden;
    }




    #grad2{
        margin-right:30vw;
    }

    header{
        padding-bottom: 4rem;
    }

    .toggle_btn{
        margin-right: 5rem;
        padding-top: 3rem;
    }


    .profile__photo{
        width: 40vw;
        height: 40vw;
        top: -20vw;
    }

    .preview{
        width: 90vw;
        margin-top: 12vh;

        padding-bottom: 5vh;
    }

    .sub__blocks{
        flex-direction: column;
        align-items: flex-start;

        height: 40vw;
    }

    .profile__inf{
        margin-left: 0;
    }

    #right__block{
        align-items: flex-end;
        justify-content: right;
    }

    .home__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            /*background-color: red;*/
        width: 80vw;
    }

    .profile__buttons{
        width: 15vw;
        height: 15vw;
        /*margin-top: 1vh;*/
    }

    .profile__buttons > img{
        width: 8vw;
        height: 8vw;
    }

    .mainlogo{
        margin-left: 5vw;
    }

    .sub__buttons{
        width: 80vw;
        top: 20vw;
    }


    .settings__wrapper > h1{
        font-size: 5vw;
        margin-top: 25vh;
    }

    .FIO{
        /*margin-left: 15vw;*/

        font-size: 2.8rem;

        margin-top: 13vh;
        max-width: 50vw;
        left: 50%;
    }


    .profile__functions{
        flex-direction: column;
        gap: 1%;
    }

    .achievements, .functions{
        width: 100%;
    }
    .achievements{
        padding: 2rem 2rem 2rem 2rem;
        gap: 6%;
        padding-bottom: 5rem;
    }
    .ach_sub_items{
        height: 12vh;
        background-size: cover;
        background-position: -3px;
    }

    .achievements__name > img{
        width: 13vw;
    }

    .achievements__items{
        gap: 2vh;
        width: 80%;
    }

    .some__func > a{
        margin-top: 1vh;
        font-size: 2.7rem;
    }

    .fnc__arrow{
        display: none;
    }

    .some__func{
        gap: 6%;
    }

    .fnc__img{
        width: 10vw;
    }

    .functions__bottom{
        gap: 6%;
    }
    /*.tmp_form{*/
    /*    display: none;*/
    /*}*/







    .addfile__form{
        border-radius: 2vw;

        top: 22vh;
        width: 80vw;
    }


    .addfile__close{
        width: 10vw;
        height: 10vw;

        font-size: 5vw;

        top: 4vw;
        right: 4vw;
    }

    .inf__form{
        flex-direction: column;
        margin-top: 10vh;
    }

    .inf__form_left, .inf__form_right{
        width: 70vw;
    }

    .inf__form_right{
        margin-top: 10vh;
    }

    .cstmm{
        width: 70vw;
    }


    .date{
        width: 33vw;
        font-size: 5vw;
    }
    .date1{
        width: 68vw;
        font-size: 5vw;
    }

    .mobile{
        margin-top: 10vh;
    }
    .inf__buttons{
        margin-top: 10vh;
    }
    .inf__btn{
        width: 36vw;
        font-size: 3.7vw;
    }

    .profile__functions{
        width: 75vw;
        margin-bottom: 5vh;
    }

    .functions > div > div{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .order__form{
        width: 75vw;
        left: 2.5vw;
        top: 22vh;
    }

    .order__wrapper{
        padding-top: 7vh;

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        gap: 5vh;
    }

    .order__close{
        width: 10vw;
        height: 10vw;

        font-size: 5vw;
    }

    .order__wrapper > div{
        padding: 5vh 0.5vw;
    }

    .order__block{

    }

    .order__top__block{
        /*padding-top: 5vw;*/
        padding-bottom: 5vw;
    }
    .order__mid__block{
        padding-top: 5vw;
        padding-bottom: 5vw ;
    }
    .order__mid__block > svg{
        width: 5vw;
    }
    .order__mid__block > a{
        font-size: 5vw;
    }

    .order__a{
        font-size: 5vw;
    }
    .order__h1{
        line-height: 6vw;
        font-size: 10vw;
    }

    .order_btn{
        font-size: 5vw;
    }



    .inp__file{
        margin-top: 5vh;
        width: 70vw;
        flex-direction: column;
    }
    .inp__file > img{
        height: 15vw;
    }

    .inp__file > a{
        margin-top: 5vh;
        font-size: 5vw;
    }

    .send__btn{
        width: 60vw;
        height: 10vh;

        font-size: 6vw;
    }

}