#hub{
	border-bottom: none;
}
.header-preview-wrapper{
	background: none;
}


.bg-grad{
	width: 100%;
	position: absolute;
	z-index: -1;
	user-select: none;
	-webkit-user-drag: none;
}
#grad1{
	top: 10vh;
	left: -20vw;
}
#grad2{
	right: -30vw;
	top: 50vh;
}

/* PREVIEW */

.profile{
	margin-top: 6.5rem;
	padding-bottom: 2rem;
	border-bottom: 0.15vw solid white;
}


.preview{
	position: relative;

	margin-top: 27rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 75vw;
	padding-bottom: 10rem;
	min-height: 80vh;
	/*height: 80vh;*/
	background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	background-blend-mode: overlay, normal;
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 14px;
}
.sub__buttons{
	position: absolute;

	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
	top: 5rem;
	width: 65vw;
	height: 10rem;
	/*background-color: #AB1B29;*/
}
.sub__blocks{
	display: flex;
	align-items: center;
	gap: 2rem;
	/*background-color: #0a53be;*/
	height: 100%;
}

#left__block, #right__block{
	width: 33%;
}
#mid__block{
	width: 77%;
	opacity: 0;
}
#right__block{
	display: flex;
	justify-content: right;
	align-items: center;
}




.profile__photo{
	position: absolute;

	top: -22rem;
	z-index: 1;

	width: 44rem;
	height: 44rem;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}



.profile__buttons{
	width: 6vw;
	height: 6vw;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(28,28,28,0);

	border-radius: 50%;
	border: none;

	cursor: url('images/link.cur'), pointer;
	transition: 0.2s;
}
.profile__buttons > img{
	width: 4vw;
	height: 4vw;
}

.profile__inf{
	margin-left: 2rem;
}
.active_btn{
	transition: 0.2s;
	border: 0.4rem solid white;
}


.FIO{
	text-align: center;

	max-width: 100%;
	margin-top: 25vh;
	/*background-color: #AB1B29;*/
	letter-spacing: 0.02em;
	font-family: Montserrat-Regular;
	text-transform: uppercase;
	font-size: 4rem;
}


.profile__functions{
	/*border-radius: 14px;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-top: 3vh;
	width: 62vw;
	height: 60vh;
	/*background-color: #AB1B29;*/
}

.achievements, .functions{
	border-radius: 14px;
	width: 49.5%;
	height: 100%;
}

.achievements{
	background: linear-gradient(0deg, #00113B, #00113B), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	background-blend-mode: normal, overlay, normal;
	backdrop-filter: blur(40px);

	padding: 2rem 8rem 2rem 8rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.achievements__name{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	width: 100%;
	height: 20%;
	/*background-color: #36D7D4;*/
}
.achievements__name > img{
	width: 5vw;

	padding: 2rem;
	background-color: #2D6FFF;
	border-radius: 50%;
}
.achievements__name > a{
	font-family: Montserrat-Regular;
	font-size: 3rem;

}



.achievements__items{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 70%;
	/*background-color: #AB1B29;*/
}

.ach__items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 48%;
	/*background-color: #36D7D4;*/
}
.ach_sub_items{
	border-radius: 14px;
	width: 48%;
	height: 100%;

	object-fit: cover;
	object-position: center;
	background-position: 0rem -1vh;
	background-repeat: no-repeat;
	/*background-color: #36D7D4;*/
}


#item__1{ background-image: url("images/profile/scratch_unlock.svg"); }
#item__2{ background-image: url("images/profile/C++_unlock.svg"); }
#item__3{ background-image: url("images/profile/scratch_lock.svg");  }
#item__4{ background-image: url("images/profile/C++_lock.svg"); }
.functions{
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	align-items: center;

	/*background-color: #36D7D4;*/
}

.functions__top, .functions__bottom{
	border-radius: 14px;
	width: 100%;
	height: 49%;
}
.functions__bottom{
	background: linear-gradient(0deg, #00113B, #00113B), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	background-blend-mode: normal, overlay, normal;
	backdrop-filter: blur(40px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4%;


	cursor: url('images/link.cur'), pointer;
	transition: 0.3s;
}
.functions__bottom > a{
	font-family: Montserrat-Regular;
	font-size: 3rem;
}

.functions__bottom:hover{
	transition: 0.3s;
	scale: 1.02;
}
.functions__top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.some__func{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/*padding-top: 2rem;*/
	/*padding-bottom: 2rem;*/

	gap: 4%;

	border-radius: 14px;
	width: 49%;
	height: 100%;
	background: linear-gradient(0deg, #00113B, #00113B), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	background-blend-mode: normal, overlay, normal;
	backdrop-filter: blur(40px);


	transition: 0.3s;
	cursor: url('images/link.cur'), pointer;
}

.some__func > a{
	text-align: center;
	width: 80%;
	font-family: Montserrat-Regular;
	font-size: 3rem;

}
.some__func:hover{
	scale: 1.02;
	transition: 0.3s;
}

.fnc__img{
	width: 5vw;
}



.achievements__name > img{
	width: 5vw;

	padding: 2rem;
	background-color: #2D6FFF;
	border-radius: 50%;
}
.achievements__name > a{
	font-family: Montserrat-Regular;
	font-size: 3rem;

}



.home__wrapper{
	/*display: flex;*/
	/*justify-content: center;*/
	transition: 1s;
}
.inf__wrapper, .settings__wrapper{
	display: none;
}

.bd{
	width: 100vw;
	overflow-x: hidden;
}
