@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(fonts/Montserrat-ExtraBold.ttf);
}

html,
body {
  cursor: url('images/pointer.cur'), default;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #162831;
}

.errorInput {
  border: red 1px solid;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cstm{
  font-size: 1.8rem;
  font-family: Montserrat-Regular;
  color: white;

  background-color: #0050FF;
  border-color: #0050FF;
  transition: 0.4s;
}
.cstm:hover{

  color: #0050FF;

  background-color: white;
  border-color: white;
  transition: 0.4s;
}

.cstm2{
  font-size: 1.4rem;
  font-family: Montserrat-Regular;
  color: white;

  background-color: #0050FF;
  border-color: #0050FF;
  transition: 0.4s;
}
.cstm2:hover{

  color: #0050FF;

  background-color: white;
  border-color: white;
  transition: 0.4s;
}

.back__to__main{
  cursor: url('images/link.cur'), pointer;
}

.bbt{
  font-family: Montserrat-Regular;
  font-size: 1.2rem;
  transition: 0.4s;

  color: white;
  padding: 0.6rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: #0050FF;
}
.bbt:hover{
  background-color: white;

  color: #0050FF;
  transition: 0.4s;
}

.bbt2{
  font-family: Montserrat-Regular;
  font-size: 1rem;
  transition: 0.4s;

  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: #0050FF;
  border-color: #0050FF;
}
.bbt2:hover{
  background-color: white;

  color: #0050FF;
  transition: 0.4s;
  border-color: white;
}