body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;

}



.header-preview-wrapper{
    background:none;
}

#hub{
    border: none;
}
#edu{
    border-bottom: 0.15vw solid white;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15vh;
}

.preview > h1{
    text-align: center;
    font-size: 3vw;
}

.cards__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5vw;
}

.cards{
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1.5vw;

    width: 19vw;
        /*height: 35vh;*/
    /*padding: 2vw 1vw;*/
    padding: 4vw 0.5vw;


    border-radius: 2rem;
    border: 0.2vw white solid;

    transition: 0.4s;

    cursor: url('images/link.cur'), pointer;

        /*background-color: red;*/
}





/*.cards:hover{*/
/*    background: rgba(0, 80, 255, 0.2);*/
/*    border: 0.2vw #0050FF solid;*/
/*    backdrop-filter: blur(10px);*/
/*    */
/*}*/

.cards > h1{
    margin-top: 2vw;
    font-size: 2vw;
}
.cards > a{
    max-width: 70%;
    text-align: center;
    font-size: 1.2vw;
}
.cards > div{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 0;

    transform: translate(-50%,-50%);
    border-radius: 50%;

    transition: 0.4s;

    height: 8vw;
    width: 8vw;

    background-color: white;
}
.cards > div > svg{
    width:4.5vw;
    height: auto;
    transition: 0.4s;

    fill:#162831;
}

.cards:hover{
    background: rgba(0, 80, 255, 0.2);
    border: 0.2vw #0050FF solid;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}


.cards:hover #left, .cards:hover #midd, .cards:hover #right{
    background-color: #0050FF;
    transition: 0.4s;
}

.cards:hover #left-svg, .cards:hover #midd-svg, .cards:hover #right-svg{
    fill: white;
    transition: 0.4s;
}



.easy__lvl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    width: 74vw;
    height: 207vh;
    /*height: 11vw;*/

    /*padding-bottom: 2vh;*/


    /*background-color: #AB1B29;*/
}

.line1{
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 15%;
    height: 207vh;

    z-index: 2;

    background-color: #2D6FFF;
}

.line1 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20vh;
    background-color: #0050FF;
}


.line1 > div > a{
   font-family: Montserrat-ExtraBold;
    font-size: 5vw;

    color: white;
    user-select: none;

    -webkit-user-drag: none;

    text-align: center;
}

.line2 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20vh;
    background-color: #0050FF;
}


.line2 > div > a{
    font-family: Montserrat-ExtraBold;
    font-size: 5vw;

    color: white;
    user-select: none;

    -webkit-user-drag: none;

    text-align: center;
}


.data{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-top: 2vh;


    width: 85%;
    height: 100%;
    /*background-color: white;*/
}

.main__h1{
    width: 75%;

    font-family: Montserrat-ExtraBold;
    font-size: 7vw;

    line-height: 6vw;


    color: white;
    text-align: left;
}
.main__h1__medium{
    width: 75%;

    margin-top: 4vh;


    font-family: Montserrat-ExtraBold;
    font-size: 3.5vw;

    line-height: 4vw;


    color: white;
    text-align: left;
}

.sub__h1{
    width: 75%;
    font-family: Montserrat-ExtraBold;
    font-size: 2vw;
    padding-left: 0.5vw;

    color: white;
    text-align: left;
}


.small__h1{
    font-size: 5vw;
}

/*!*ВРЕМЯНКА*!*/
/*.preloader, .header-preview-wrapper{*/
/*    display: none;*/
/*}*/

.some__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1%;

    margin-top: 5vh;
    /*margin-left: 10%;*/

    width: 75%;
    /*height: 50vh;*/

    /*background-color: #AB1B29;*/
}

.some__info__horizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 4%;

    margin-top: 5vh;
    /*margin-left: 10%;*/

    width: 75%;
    /*height: 50vh;*/

    /*background-color: #AB1B29;*/
}


.some__info__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;

    /*height: 33.333%;*/

    /*background-color: #0c4128;*/
}

.some__info__line > a{
    width: 85%;

    color: white;
    font-family: Montserrat-Regular;
    font-size: 1.5vw;

    text-align: left;
}

.some__info__line > img{
    width: 10%;
}

.colored__text{
    font-size: 2vw;
    color: #36D7D4;
}

.inf{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 3%;

    width: 70%;
    height: 100%;
    /*background-color: #0c4128;*/
}

.some__info__horizontal > img{
    width: 35%;
}


.inf > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1%;

    font-family: Montserrat-Regular;
    font-size: 1.3vw;

    color: white;
    width: 100%;
}
.inf > div:nth-child(1) > img{
    padding-top: 1vh;
    width: 70%;
 }

.inf > div:nth-child(2){
    /*padding-top: 2vh;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1%;

    font-family: Montserrat-Regular;
    font-size: 1.3vw;

    color: white;
    width: 100%;
}
.inf > div:nth-child(2) > a{
    position: relative;

    margin-left: 1vw;

    padding-top: 2vh;
    padding-left: 1vw;
}
.inf > div:nth-child(2) > a:before{
    position: absolute;
    top: 50%;
    left: -1vw;



    content: "";
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #36D7D4;
}

.ending__wrapper{
    position: absolute;
    bottom: 0;
    left: -93.9%;

    z-index: -1;
}

.ending{
    position: relative;

    margin-top: 7vh;

    margin-left: 59%;
    width: 150vw;
    height: 80vh;

    background-color: white;
}


.ending > h1{
    position: absolute;
    left: 8vw;
    top: 0vh;
}

.ending__block{
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    padding: 1vw;
    margin: 2vw;
}
.ending__block > img{
    width: 5vw;

    -webkit-user-drag: none;
}

.rt__blck > a{
    text-align: right;
}
.lft__blck > a{
    text-align: left;
}
.ending__block > a{
    color: #162831;
    font-family: Montserrat-Medium;
    font-size: 1.5vw;
}

#end_1{
    min-width: 35vw;
    left: 2.5vw;
    top: 10vh;

    gap: 4%;
}
#end_2{
    min-width: 60vw;

    left: -2vw;
    top: 24vh;

    gap: 2%;
}

#end_3{
    min-width: 40vw;

    left: 13.4vw;
    top: 42vh;

    gap: 2%;
}

#end_4{
    min-width: 50vw;

    left: 1vw;
    top: 60vh;

    gap: 2%;
}
.ending > img{
    position: absolute;
}

#arrow1{
    width: 20vw;

    left: 38%;
    top: 20vh;
}

#arrow2{
    width: 15vw;

    left: 3%;
    top: 35vh;
}
#arrow3{
    width: 10vw;

    left: 50%;
    top: 54vh;
}
.horizontal__line{
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*width: 74%;*/
    width: 74vw;
    height: 4vh;
    background: linear-gradient(90deg, #2D6FFF 0%, #0050FF 100%);
}

.horizontal__line_back{
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*width: 74%;*/
    width: 74vw;
    height: 4vh;
    background: linear-gradient(90deg, #0050FF 0%, #2D6FFF 100%);
}

.medium__lvl{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    width: 74vw;
    /*height: 207vh;*/
}

.new__block{
    position: relative;
    /*overflow-x: hidden;*/
    /*overflow-y: unset;*/
    /*overflow-y: visible;*/


    margin-top: 15vh;

    padding: 1vw 2vw;
    padding-bottom: 10vh;

    width: 100%;
    /*height: 100vh;*/
    background-color: white;

    z-index: 0;
}

.number{
    position: absolute;

    font-size: 10vw;
    font-family: Montserrat-ExtraBold;
    align-items: center;
    text-align: center;
    justify-content: center;

    user-select: none;

    color: var(--color-header);

    /*width: 6vw;*/
    /*height: 6vw;*/
    /*background-color: #AB1B29;*/

    top:  -7.5vw;
    left: -3.5vw;
}

.close__block{
    position: absolute;

    left: -10vw;
    top: -5vw;

    width: 10vw;
    height: 10vw;
    background-color: #162831;
}

.small__h1__block{
    margin-top: 10vh;
    padding-left: 2vw;

    font-family: Montserrat-ExtraBold;
    font-size: 1.5vw;
    color: #162831;
}
.python{
    padding-left: 2vw;
    font-family: Montserrat-ExtraBold;
    line-height: 1;
    font-size: 4.7vw;
    color: #162831;
}

.diagram{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    /*height: 60vh;*/
    margin-top: -8vw;
    margin-left: 2vw;

    /*background-color: #AB1B29;*/
}
.diagram > div:nth-child(2) > img{
    height: 90vh;
    user-select: none;
    -webkit-user-drag: none;
}
.diagram > div:nth-child(1) > div{
    /*width: 13vw;*/
    position: relative;

    color: white;

    font-family: Montserrat-Regular;
    font-size: 1vw;
    letter-spacing: 0.13em;


    padding: 1.5vw;
    background-color: #162831;
}

.diagram > div:nth-child(3) > div{
    /*width: 13vw;*/
    position: relative;

    color: white;

    font-family: Montserrat-Regular;
    font-size: 1vw;
    letter-spacing: 0.13em;


    padding: 1.5vw;
    background-color: #162831;
}

.diagram > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: -30vh;
    margin-right: 6vw;

    width: 100%;
}


.diagram > div:nth-child(3){
    display: flex;
    justify-content: right;
    align-items: flex-end;

    margin-top: 40vh;
    margin-left: 5vw;

    width: 100%;
}

.rnd{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 1.5vw;
    height: 1.5vw;

    background-color: white;
    border-radius: 50%;

    right: -0.7vw;
    top: 50%;
    transform: translate(0,-50%);
}
.rnd2{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 1.5vw;
    height: 1.5vw;

    background-color: white;
    border-radius: 50%;

    left: -0.7vw;
    top: 50%;
    transform: translate(0,-50%);
}
.inside__line{
    width: 7vw;
    position: absolute;
    right: -6.7vw;
}
.inside__line2{
    width: 7vw;
    position: absolute;
    left: -6.7vw;
}
.rnd__inside{
    width: 1vw;
}
.rnd__inside2{
    width: 1vw;
}

.bottom__block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20vh;
}
.bottom__block > img{
    -webkit-user-drag: none;
    user-select: none;

    width: 0.5vw;
    height: 30vh;
}
.bottom__block > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;



    gap: 4%;

    width: 49%;
    min-height: 40vh;

    /*background-color: #0c4128;*/
    /*padding-left: 5vw;*/
    margin-left: 2vw;
}

.bottom__h1{
    width: 100%;
    text-align: left;
    font-family: Montserrat-Bold;
    font-size: 1.8vw;
    color: #162831;

    /*background-color: #AB1B29;*/
}
.bottom__a{
    margin-top: 5vh;
    padding-right: 2vw;

    width: 100%;
    font-family: Montserrat-Medium;
    font-size: 1.3vw;
    color: rgba(22, 40, 49, 0.8);

    /*background-color: #36D7D4;*/
}

.line2{
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 15%;
    height: 900.5vh;

    z-index: 2;

    background-color: #2D6FFF;
}

.hard__lvl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    width: 74vw;
    height: 207vh;
}

.ending2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5vw;

    padding-top: 5vw;
    padding-bottom: 5vw;

    margin-top: 7vh;

    margin-left: 59%;
    width: 150vw;
    height: 60vh;

    background-color: white;
}

.ending2 > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4%;

    width: 40vw;
    height: 40vh;
    /*background-color: #AB1B29;*/
}
.ending2 > div:nth-child(1) > h1{
    font-family: Montserrat-Bold;
    color: #323641;
    font-size: 2vw;
}
.ending2 > div:nth-child(1) > a{
    font-family: Montserrat-Medium;
    color: #323641;
    font-size: 1vw;
}
.ending2 > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30vw;
    height: 40vh;
    /*background-color: #36D7D4;*/
}
.ending2 > div:nth-child(2) > img{
    width: 20vw;
}

.some__skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 5%;

    padding-top: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vw;

    width: 100%;
}
.some__skills{
    color: white;
    font-size: 1vw;
    font-family: Montserrat-Regular;
}
.some__skills > div{
    width: 66vw;
    margin-top: 5vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 5%;
}
.card{
    min-width: 15vw;
    /*height: 30vw;*/

    min-height: 45vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /*gap: 1vw;*/

    /*background-color: #AB1B29;*/
}
.card > h1{
    margin-top: 2vw;
    min-height: 5vw;
    font-size: 1.2vw;
}
.card > a{
    font-family: Montserrat-Regular;
    letter-spacing: 0.02em;
}