body{
    width:100%;
    height:100%;
    margin-left:0px;
    margin-top:0px;
    box-sizing: border-box;
    overflow-x:hidden;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format("woff2"); }

.zayav{
    width:auto;
    height:898px;
    background-color: #001B3C;
}

.first_triangle{
    position: relative;
    width:0;
    height:0;
    border-top:91px solid transparent;
    border-bottom:91px solid transparent;
    border-left: 170px solid #0050FF;
    top: 640px;
    left:40px;
}

.second_triangle{
    position: relative;
    width:0;
    height:0;
    border-top:50px solid transparent;
    border-bottom:50px solid transparent;
    border-left: 100px solid #0050FF;
    top: 500px;
    left:270px;
    rotate:-100deg
}

.third_triangle{
    position: relative;
    width:0;
    height:0;
    border-top:50px solid transparent;
    border-bottom:50px solid transparent;
    border-left: 100px solid #0050FF;
    top: 240px;
    left:170px;
    rotate:-80deg;
}
.zayav p{
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 70px;
    line-height: 120.68px;
    width:823px;
    height: 483px;
    color: #FFFFFF;
    left: 200px;
    top:-50px;
}

.gift{
    position:absolute;
    top:-10px;
    width:611px;
    height:611px;
    left:850px;
}

.fourth-triangle{
    position:absolute;
    width:0;
    height:0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid #0050FF;
    top: 80px;
    left: 1450px;
    rotate: 10deg;
}

.btn{
    position: absolute;
    width:730px;
    height:155px;
    border-radius:70px;
    color:#FFFFFF;
    background-color: #0050FF;
    left:494px;
    top:650px;
    font-size:100px;
    font: 500 66.81px;
    font-family: 'Montserrat';
    border: none;
    cursor:pointer;
}

.btn_active{
    filter: drop-shadow(0 0 10px #0050FF)
}

.penguin{
    position:absolute;
    width:175px;
    height:175px;
    left:1360px;
    top:650px;
}