/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  box-sizing: inherit;
  font-size: calc(100vw / 1920 * 10); }
  @media (max-width: 1024px) {
    html {
      font-size: calc(100vw / 1920 * 10); } }
	@media (max-width: 600px) {
		html {
		  font-size: calc(100vw / 1400 * 10); } }


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем нижнее подчеркивание у ссылок */

a {
	text-decoration: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* HEADER */

.header-preview-wrapper {
	width: 100%;
	height:80rem;
	background-image: url(/stylesheets/images/preview_background.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}

.header {
	height: 10rem;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items:center;
}

.logo {
	display: flex;
	align-items: center;
	width: 40rem;
	height: 5rem;
}

.header__nav-profile-wrapper {
	width: 50%;
	display: flex;
	justify-content: space-between;

}

.header__nav {
	width: 70%;
	display: flex;
	justify-content: space-around;
	height: 4.3rem;
    align-items: end;
}

.nav__section{
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
	color: #FFFFFF;
}

.profile_icon {
	display: flex;
	align-items: center;
	width: 5rem;
	height: 5rem;
}

/* PREVIEW */

.preview {
	height: 87.2%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview-wrapper {
	height: 24rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.preview-wrapper__school-title {
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
}

.preview-wrapper__h3 {
	font-style: normal;
	font-weight: 800;
	font-size: 4.8rem;
	line-height: 6.4rem;
	text-align: center;
}

.preview-wrapper__button {
	width: 31.2rem;
	height: 5.8rem;
	background: #0050FF;
	border-radius: 3rem;
	border-color: #0050FF;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 3rem;
	color: #FFFFFF;
}

/* ABOUT US */

.about-us {
	height: 62.9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.about-us__title {
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.about-as__description {
	width: 45%;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

.about-as__scores {
	display: flex;
	gap: 2%;
}

.score__indicator {
	display: flex;
	align-items: center;
	gap: 2%;
}

.indecator__number {
	font-style: normal;
	font-weight: 800;
	font-size: 9.7rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.indicatior__text {
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

/* PREPARE LEVELS */

.prepare-levels {
	height: 93.3rem;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	background: #F8F8F8;
}

.prepare-levels__title {
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.prepare-levels__levels {
	display: flex;
	justify-content: space-around;
	gap: 15%;
}

.level {
	position: relative;
	width: 36.7rem;
	height: 36.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 0.5rem solid #162831;
	border-radius: 2rem;
}

.level_icon {
	position: absolute;
	bottom: 29.3rem;
	display: flex;
	width: 16rem;
    height: 16rem;
	background-image: url(/stylesheets/images/prepare-levels_icon-back1.png);
	background-repeat: no-repeat;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.icon__image{
	width: 8.5rem;
	height: 7.4rem;
}

.icon_middle_level {
	background-image: url(/stylesheets/images/prepare-levels_icon-back2.png);
}

.icon_high_level {
	background-image: url(/stylesheets/images/prepare-levels_icon-back3.png);
}

.level_body {
	width: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.level__title {
	font-style: normal;
	font-weight: 800;
	font-size: 3.5rem;
	line-height: 134.09%;
}

.level_description 
{
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

/* ABOUT BASIC LEVEL */

.about-basic-level {
	height: 89rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #162831;
}

.about-basic-level__basic-diogram {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60rem;
    height: 60rem;
	border-radius: 50%;
	background: #FFFFFF;
}

.basic-diagram-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 12%;
}

.about-basic-level__basic-description {
	height: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.basic-description__title {
	font-style: normal;
	font-weight: 800;
	font-size: 14.5rem;
	line-height: 134.09%;
	color: #FFFFFF;
}

.basic-description__upper-text,
.basic-description__lower-text
{
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: justify;
	color: #FFFFFF;
}

.upper-text__blue-text {
	color: #36D7D4;
}

.basic-description__lower-part-wrapper {
	display: flex;
	gap: 2rem;
}

.lower-part-wrapper__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13rem;
	height: 13rem;
	background: #2167FF;
	border-radius: 50%;
}

.inside-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	background: #0050FF;;
	border-radius: 50%;
}

.lower-part-wrapper__text {
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	color: #FFFFFF;
}


.basic-diogram__part1{
	width: 8.8rem;
	height: 10rem;
}
.basic-diogram__part2{
	width: 8.8rem;
	height: 20.7rem;
}
.basic-diogram__part3{
	width: 8.8rem;
	height: 31.3rem;
}