.stuff{
    width:1920px;
    height:747px;
    background-color: #FFFFFF;
}

.stuff__header{
    color:#162831;
    font-family: 'Montserrat';
    line-height:134.1%;
    width:1552px;
    height:135px;
    font-weight:800;
    text-align:center;
    font-size:100px;
    vertical-align: top;
    left:198px;
}

.stuff__slider{
    display:flex;
    height:399px;
    width:
}