<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta property="vk:image" content="../static/stylesheets/images/prew.jpg" />

  <meta property="og:url" content="www.school-code.ru" />
  <meta property="og:image" content="../static/stylesheets/images/prew.jpg" />
  <meta property="og:image:width" content="1074" />
  <meta property="og:image:height" content="480" />


  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Школа::КОДА">
  <meta name="twitter:description" content="Образовательный проект при ЮФУ">
  <meta name="twitter:image" content="../static/stylesheets/images/prew.jpg">

  <link rel="shortcut icon" href="../static/stylesheets/images/page_logo.svg" type="image/x-icon">
  <title>Школа::КОДА</title>


  <!--    <link href="../static/stylesheets/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="../static/stylesheets/fonts.css">
  <link rel="stylesheet" href="../static/stylesheets/main.css">
  <link rel="stylesheet" href="../static/stylesheets/profile.css">
  <link rel="stylesheet" href="../static/stylesheets/profile_media.css">
  <link rel="stylesheet" href="../static/stylesheets/letter.css">
  <link rel="stylesheet" href="../static/stylesheets/letter_media.css">


  <script src="https://kit.fontawesome.com/7765d9206b.js" crossorigin="anonymous"></script>
  <script src="../static/libs/gsap/gsap.min.js" defer></script>
  <script src="../static/libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="../static/libs/gsap/ScrollSmoother.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" defer></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script src="../static/js/profile.js" defer></script>
  <script src="../static/js/navbar.js" defer></script>


</head>


<body class="bd">


<script>
  window.location.replace("http://youcodeacademy.ru");
</script>

<div class="preloader">
  <div class="loader"></div>
</div>

<img id="grad1" class="bg-grad" src="../static/stylesheets/images/profile/Grad1.svg">
<img id="grad2" class="bg-grad" src="../static/stylesheets/images/profile/Grad2.svg">
<section class="header-preview-wrapper">
  <header>
    <div class="navbar">
      <img src="../static/stylesheets/images/svgg.svg" alt="" class="mainlogo">
      <ul class="links">
        <li id="hub"><a href="/">Главная</a></li>
        <li id="edu"><a href="/programs">Программы обучения</a></li>
        <li id="others"><a href="/FAQ">FAQ</a></li>
      </ul>
      <a href="/profile"><img src="../static/stylesheets/images/profile_icon.svg" alt="" class="profile"></a>
      <div class="toggle_btn">
        <i id="brs" class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="dropdown_menu">
      <li><a href="/">Главная</a></li>
      <li><a href="/programs">Программы обучения</a></li>
      <li><a href="/FAQ">FAQ</a></li>
      <li><a class="active__page" href="hero">Личный кабинет</a></li>
      <div class="promo"><a class="hire" onclick="location.href='https://kpyr.github.io/STL/';">Design and
        Development by STL<span class="dot">.</span></a></div>
    </div>
  </header>

  <section class="prev">
    <h1 class="thx">Благодорим за оставленную вами заявку!</h1>
    <a class="plan">Дальнейшие <span class="color__blue">действия:</span> </a>
    <a class="plan_line"><img src="../static/stylesheets/images/letter/num1.svg"> Скачайте заявление по кнопки ниже</a>
    <a class="download" href="../static/stylesheets/Заявление.pdf" target="_blank" download=""> <img src="../static/stylesheets/images/letter/download.svg"> Скачать!</a>
    <a class="plan_line"><img src="../static/stylesheets/images/letter/num2.svg"> Заполните недостающие данные</a>
    <a class="plan_line"><img src="../static/stylesheets/images/letter/num3.svg"> Принесите заполненное заявление на организационное собрание</a>

    <h1 class="fq">Возможные вопросы</h1>
    <div class="fq__a">
      <a class="fq1">Как узнать <br> о собрании?</a>
      <a class="fq2">Подпишитесь на группу <img onclick="location.href='https://vk.com/mopevm_school';" class="fq__svg" src="../static/stylesheets/images/letter/vk.svg"></a>
    </div>
    <div class="fq__a">
      <a class="fq1">Как оплатить?</a>
      <a class="fq2">Вам расскажут на собрании</a>
    </div>
  </section>


</section>

</body>

</html>