<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/stylesheets/images/page_logo.svg" type="image/x-icon">
    <title>Школа::КОДА</title>


    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <link rel="stylesheet" href="../static/stylesheets/media.css">
    <link rel="stylesheet" href="../static/stylesheets/profile.css">


    <script src="https://kit.fontawesome.com/7765d9206b.js" crossorigin="anonymous"></script>
    <script src="../static/libs/gsap/gsap.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollTrigger.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollSmoother.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="../static/js/profile.js" defer></script>


</head>


<body class="bd">
    <img id="grad1" class="bg-grad" src="../static/stylesheets/images/profile/Grad1.svg">
    <img id="grad2" class="bg-grad" src="../static/stylesheets/images/profile/Grad2.svg">
    <section class="header-preview-wrapper">
        <header>
            <div class="navbar">
                <img src="../static/stylesheets/images/svgg.svg" alt="" class="mainlogo">
                <ul class="links">
                    <li id="hub"><a href="/">Главная</a></li>
                    <li id="edu"><a href="hero">Программы обучения</a></li>
                    <li id="others"><a href="hero">Преподаватели</a></li>
                </ul>
                <a href="/profile"><img src="../static/stylesheets/images/profile_icon.svg" alt="" class="profile"></a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>


            <div class="dropdown_menu">
                <li><a href="/">Главная</a></li>
                <li><a href="hero">Программы обучения</a></li>
                <li><a href="hero">Преподаватели</a></li>
                <li><a class="active__page" href="hero">Личный кабинет</a></li>
                <div class="promo"><a class="hire" onclick="location.href='https://kpyr.github.io/STL/';">Design and
                        Development by STL<span class="dot">.</span></a></div>
            </div>
        </header>
        <form method="post" action="/logout">

            <section class="preview">

                <img src="../static/stylesheets/images/profile/tmpprofile2.jpg" class="profile__photo">
                <div class="sub__buttons">
                    <div class="sub__blocks" id="left__block">
                        <div onclick="activateHome()" class="profile__buttons profile__home active_btn"><img src="../static/stylesheets/images/profile/home.svg"></div>
                        <div onclick="activateInf()" class="profile__buttons profile__inf"><img src="../static/stylesheets/images/profile/inf.svg"></div>
                    </div>
                    <div class="sub__blocks" id="mid__block"></div>
                    <div class="sub__blocks" id="right__block">
                        <div onclick="activateSettings()" class="profile__buttons profile__settings"><img src="../static/stylesheets/images/profile/settings.svg"></div>
                        <button class="profile__buttons profile__logout"><img src="../static/stylesheets/images/profile/logout.svg"></button>
                    </div>
                </div>
                <div class="home__wrapper">
                    <h1 class="FIO">{{username}}</h1>
                    <div class="profile__functions">
                        <div class="achievements">
                            <div class="achievements__name"><img src="../static/stylesheets/images/profile/achievements.svg"><a>Достижения</a></div>
                            <div class="achievements__items">
                                <div class="ach__items">
                                    <div class="ach_sub_items" id="item__1"></div>
                                    <div class="ach_sub_items" id="item__2"></div>
                                </div>
                                <div class="ach__items">
                                    <div class="ach_sub_items" id="item__3"></div>
                                    <div class="ach_sub_items" id="item__4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="functions">
                            <div class="functions__top">
                                <div class="some__func">
                                    <img class="fnc__img" src="../static/stylesheets/images/profile/select.svg">
                                    <a>Записаться на курс</a>
                                    <img src="../static/stylesheets/images/profile/arrow.svg">
                                </div>
                                <div class="some__func">
                                    <img class="fnc__img" src="../static/stylesheets/images/profile/test.svg">
                                    <a>Записаться на тест</a>
                                    <img src="../static/stylesheets/images/profile/arrow.svg">
                                </div>
                            </div>
                            <div class="functions__bottom">
                                <img class="fnc__img" src="../static/stylesheets/images/profile/test.svg">
                                <a>Записаться на тест</a>
                                <img src="../static/stylesheets/images/profile/arrow.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inf__wrapper"></div>
                <div class="settings__wrapper"></div>
            </section>
        </form>




<!--            <form method="post" action="/logout">-->
<!--                <div class="preview-wrapper">-->
<!--                    <h2>-->
<!--                        <div class="preview-wrapper__school-title">Добро Пожаловать, {{username}}</div>-->
<!--                    </h2>-->
<!--                    <h3 class="preview-wrapper__h3">Мы рады, что Вы выбрали нас</h3>-->
<!--                    <button class="preview-wrapper__button button">Выйти</button>-->
<!--                </div>-->
<!--            </form>-->

    </section>

    <script>
        const togglebtn = document.querySelector(".toggle_btn")
        const togglebtnicon = document.querySelector(".toggle_btn i")
        const toggledropmenu = document.querySelector(".dropdown_menu")

        togglebtn.onclick = function () {
            toggledropmenu.classList.toggle('open')
            togglebtnicon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>
</body>

</html>