<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="vk:image" content="../static/stylesheets/images/prew.jpg" />

    <meta property="og:url" content="www.school-code.ru"/>
    <meta property="og:image" content="../static/stylesheets/images/prew.jpg"/>
    <meta property="og:image:width" content="1074"/>
    <meta property="og:image:height" content="480"/>


    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Школа::КОДА">
    <meta name="twitter:description" content="Образовательный проект при ЮФУ">
    <meta name="twitter:image" content="../static/stylesheets/images/prew.jpg">


    <link rel="shortcut icon" href="../static/stylesheets/images/page_logo.svg" type="image/x-icon">
    <title>Школа::КОДА</title>
    <script src="https://kit.fontawesome.com/7765d9206b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <link rel="stylesheet" href="../static/stylesheets/study.css">

    <script src="../static/libs/gsap/gsap.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollTrigger.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollSmoother.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../static/js/app.js" defer></script>

    <script src="../static/js/study.js" defer></script>

</head>

<body class="bd">



<div class="preloader">
    <div class="loader"></div>
</div>



<section class="header-preview-wrapper">
    <header>
        <div class="navbar">
            <img src="../static/stylesheets/images/svgg.svg" alt="" class="mainlogo">
            <ul class="links">
                <li id="hub"><a href="/">Главная</a></li>
                <li id="edu"><a href="/programs">Программы обучения</a></li>
                <!--					<li id="others"><a href="hero">Преподаватели</a></li>-->
            </ul>
            <a href="/profile"><img src="../static/stylesheets/images/profile_icon.svg" alt="" class="profile"></a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>


        <div class="dropdown_menu">
            <li><a class="active__page" href="/">Главная</a></li>
            <li><a href="/programs">Программы обучения</a></li>
            <li><a href="/profile">Личный кабинет</a></li>
            <div class="promo"><a class="hire" onclick="location.href='https://kpyr.github.io/STL/';">Design and
                Development by STL<span class="dot">.</span></a></div>
        </div>
    </header>
    <section class="preview">
        <h1>Подстроимся под любой уровень знаний!</h1>
        <div class="cards__wrapper">
            <div class="cards">
                <div id="left">
                    <svg id="left-svg" viewBox="0 0 85 74" xmlns="http://www.w3.org/2000/svg">
                        <path d="M45.9682 65.7091C45.2062 66.0566 44.3451 66.1102 43.547 65.8597L16.0775 54.1553C12.0134 52.8798 13.0239 48.6387 17.2265 49.3086L46.9408 51.0339C47.7662 51.1655 48.5159 51.5981 49.049 52.2503L52.703 57.362C53.2652 59.5789 53.0251 60.6284 51.4692 62.7516L45.9682 65.7091Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5 4.30895C21.3739 4.30895 4.25 21.6624 4.25 43.0663C4.25 53.7016 8.4748 63.333 15.3219 70.3383L12.3031 73.3713C4.69967 65.5922 0 54.8833 0 43.0663C0 19.2804 19.0289 0 42.5 0C65.9711 0 85 19.2804 85 43.0663C85 55.2054 80.0409 66.1743 72.0698 74L69.1133 70.9045C76.2922 63.8565 80.75 53.9907 80.75 43.0663C80.75 21.6624 63.6261 4.30895 42.5 4.30895Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.3751 15.081V4.30862L44.6251 4.30859V15.081H40.3751Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M69.5011 71.2445L61.7509 63.3867L64.756 60.3398L72.5063 68.1974L69.5011 71.2445Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5085 22.6981L13.9951 15.0812L17.0003 12.0342L24.5137 19.6512L21.5085 22.6981Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5801 38.7803H82.2051V43.0892H71.5801V38.7803Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.23633 38.7803H12.8614V43.0892H2.23633V38.7803Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60.7452 19.3904L68.496 11.5332L71.5009 14.5803L63.7502 22.4375L60.7452 19.3904Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6693 63.8223L13.919 71.6803L10.9138 68.6334L18.6639 60.7754L21.6693 63.8223Z" />
                    </svg>
                </div>
                <h1>Базовый</h1>
                <a>основы алгоритмизации и программирования</a>
            </div>
            <div class="cards">
                <div id="midd">
                    <svg id="midd-svg" viewBox="0 0 85 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5 4.18346C21.3739 4.18346 4.25 21.0315 4.25 41.812C4.25 52.1377 8.4748 61.4885 15.3219 68.2898L12.3031 71.2345C4.69967 63.6819 0 53.285 0 41.812C0 18.7189 19.0289 0 42.5 0C65.9711 0 85 18.7189 85 41.812C85 53.5977 80.0409 64.2471 72.0698 71.8449L69.1133 68.8395C76.2922 61.9968 80.75 52.4184 80.75 41.812C80.75 21.0315 63.6261 4.18346 42.5 4.18346Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.375 14.6422V4.18361L44.625 4.18359V14.6422H40.375Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M69.5025 69.1691L61.752 61.5402L64.7571 58.582L72.5074 66.2108L69.5025 69.1691Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5085 22.037L13.9951 14.6418L17.0003 11.6836L24.5137 19.0788L21.5085 22.037Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5801 37.6514H82.2051V41.8348H71.5801V37.6514Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.2373 37.6514H12.8624V41.8348H2.2373V37.6514Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60.7451 18.8256L68.4958 11.1973L71.501 14.1556L63.7501 21.784L60.7451 18.8256Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6686 61.964L13.9183 69.5932L10.9131 66.635L18.6632 59.0059L21.6686 61.964Z" />
                        <path d="M36.0233 68.6054C35.5172 67.9511 35.2709 67.1373 35.3312 66.3171L40.3666 37.4085C40.673 33.2318 44.9764 33.2698 45.2828 37.4466L50.3429 66.3171C50.403 67.1373 50.1569 67.9511 49.6507 68.6054L45.5654 73.2311C43.5626 74.2569 42.5001 74.2569 40.1084 73.2311L36.0233 68.6054Z" />
                    </svg>
                </div>
                <h1>Средний</h1>
                <a>программирование на языках высокого уровня</a>
            </div>
            <div class="cards">
                <div id="right">
                    <svg id="right-svg" viewBox="0 0 85 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.1619 52.7998C35.673 52.1297 36.4078 51.6717 37.2285 51.512L66.8992 48.7368C71.0772 47.9235 72.1537 52.1478 68.1343 53.5616L41.1136 66.2133C40.3244 66.4908 39.4621 66.4669 38.689 66.1454L33.0926 63.378C31.5675 61.69 31.2925 60.6494 31.6801 58.0336L35.1619 52.7998Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5 4.30895C21.3739 4.30895 4.25 21.6624 4.25 43.0663C4.25 53.7016 8.4748 63.333 15.3219 70.3383L12.3031 73.3713C4.69967 65.5922 0 54.8833 0 43.0663C0 19.2804 19.0289 0 42.5 0C65.9711 0 85 19.2804 85 43.0663C85 55.2054 80.0409 66.1743 72.0698 74L69.1133 70.9045C76.2922 63.8565 80.75 53.9907 80.75 43.0663C80.75 21.6624 63.6261 4.30895 42.5 4.30895Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.375 15.081V4.30862L44.625 4.30859V15.081H40.375Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M69.5025 71.2445L61.752 63.3867L64.7571 60.3398L72.5076 68.1974L69.5025 71.2445Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5085 22.6981L13.9951 15.0812L17.0003 12.0342L24.5137 19.6512L21.5085 22.6981Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5801 38.7803H82.2051V43.0892H71.5801V38.7803Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.2373 38.7803H12.8624V43.0892H2.2373V38.7803Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60.7451 19.3904L68.4958 11.5332L71.501 14.5803L63.7501 22.4375L60.7451 19.3904Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6686 63.8223L13.9183 71.6803L10.9131 68.6334L18.6632 60.7754L21.6686 63.8223Z" />
                    </svg>
                </div>
                <h1>Продвинутый</h1>
                <a>специальные разделы программирования</a>
            </div>
        </div>
    </section>

    <div class="">

    </div>


</section>






<script>






    const togglebtn = document.querySelector(".toggle_btn")
    const togglebtnicon = document.querySelector(".toggle_btn i")
    const toggledropmenu = document.querySelector(".dropdown_menu")

    togglebtn.onclick = function () {
        toggledropmenu.classList.toggle('open')
        togglebtnicon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'

    }





</script>
</body>

</html>